label {
  width: 100%;

  input {
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    border: none;
    outline: none;
  }

  #invoice {
    height: 50px;
    text-align: center;
  }

  #comment {
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    border: none;
    outline: none;
    resize: none;
    height: 100px;
    text-indent: 10px;
  }

  #comment::placeholder {
    line-height: 95px;
    text-align: center;
  }

  #comment::-webkit-scrollbar {
    width: 4px;
  };

  input::-webkit-input-placeholder {
    color: black;
    opacity: 0.3;
  }

  textarea::-webkit-input-placeholder {
    color: black;
    opacity: 0.3;
  }
}