@import "bootstrap/scss/bootstrap";
@import "button.scss";
@import "input.scss";

body {
  font-family: "Roboto Thin", sans-serif;
  background: antiquewhite;
  height: 100vh;


  .container {
    display: flex;
    height: 100%;
    max-width: 1240px;
    margin: 0 auto;
    align-items: center;

    .form {
      background-color: teal;
      width: 320px;
      height: 270px;
      border-radius: 25px;
      box-shadow: 1px 1px 5px black;


    }
  }
}